extends ../../layouts/userDefault.pug
block main
 .row
  .col-md-6
    .card-body.px-lg-5.pt-0
      h2.h1.my-5(style="font-weight: 800; font-family:sans-serif") #{pageTitle}
      form.text-center(action="/user/password/send-otp" method="post")
        .md-form.my-5
          input#email.form-control(type="email",name="email",value=email, readonly)
          label(for="email") Email
        .md-form.my-5
          input#otp.form-control(type="text",name="otp", required)
          label(for="otp") OTP
        //  Sign up button 
        button.btn.btn-primary.btn-rounded.btn-block.waves-effect.z-depth-0(type="submit") Xác thực 
        hr
        p.text-right
          a(href="/user/login") Đã nhớ mật khẩu? Đăng nhập ngay !  
  .col-md-6.px-0
    img(src="https://res.cloudinary.com/dabykheek/image/upload/v1633553639/media/images/paul-gilmore-ysA6qL8j-OI-unsplash_pjweno.jpg", alt, width="100%", height="auto")
